*{
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --primary-color: #323846;
    --secondary-color: #88D9F3⁣;
    --blueSky-color: rgb(120, 219, 243);
    --font-color: #FBF9F3;
}

h2, h1{
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

body{
    background: gray;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: var(--primary-color);
    padding-top: 10px;
    color: #fff;
}


nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    background: var(--primary-color);
    box-shadow: 1px 5px 10px rgb(37, 37, 37);

}

ul{
    display: flex;
    flex-direction: row;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100px;
    height: 30px;
    margin: 3px;
    list-style: none;
    border-radius: 2px;
}


main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
}

.text_container{
    width: 60%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.champ_section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    background: var(--primary-color);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 23px; 
    border-radius: 7px;
    color: #fff;
}
.champ_section p{
    font-size: 1.4em;
}

img{
    width: 50%;
    min-width: 380px;
    border-radius: 10px;
    margin: 5px;
}

.img_container{
    align-items: center;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 891px) {
    .img_container{
        flex-direction: column;
    }

    .text_container{
        width: 90%;
    }
}

@media only screen and (max-width: 652px) {
    .text_container{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    ul{
        align-items: center;
        flex-wrap: wrap;
    }

    nav{
        height: 110%;
    }
}

@media only screen and (max-width: 531px) {
    nav{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .champ_section{
        padding-left: 0px;
        padding-right: 0px;
        width: 98%;
    }

    .champ_section p{
        font-size: 15pt;
    }
}

@media only screen and (max-width: 470px) {


    img{
        min-width: 200px;
        width: 300px;
    }
}

@media only screen and (max-width: 425px) {    

}